<div class="app">
  <div>
    <search-field @query={{state.query}} />
  </div>
  <hr/>
  <ul>
    {{#each state.results key="@index" as |result|}}
      <li>
        <generic-result
          @url={{result.url}}
          @selected={{result.selected}}
          @title={{result.snippet.title}}
          @description={{result.snippet.description}}
        />
      </li>
    {{/each}}
  </ul>
</div>
