<div class="app">
  <section class="top">
  </section>
  <section class="center">
    <div>
      <search-field
        @query={{state.urlbar.value}}
        @isFocused={{state.urlbar.isFocused}}
      />
    </div>
  </section>
  <section class="bottom">
    {{#each state.results key="@index" as |result|}}
      <generic-result
        @url={{result.url}}
        @selected={{result.selected}}
        @title={{result.snippet.title}}
        @description={{result.snippet.description}}
        @deepResults={{result.snippet.deepResults}}
      />
    {{/each}}
  </section>
</div>
