<a href={{@model.url}} class="result">
  <img src={{logo.logoUrl}} class="logo" style="background-color: #{{logo.color}};" />
  <p>
    {{#if @model.snippet.title}}
      {{@model.snippet.title}} -&nbsp;
    {{/if}}<span class="url">{{@model.url}}</span>
    <br/>
    {{@model.snippet.description}}
  </p>
</a>
