<a href={{@result.url}} class="result">
  <img src={{logo.logoUrl}} class="logo" style="background-color: #{{logo.color}};" />
  <p>
    {{#if @result.snippet.title}}
      {{@result.snippet.title}} -&nbsp;
    {{/if}}<span class="url">{{@result.url}}</span>
    <br/>
    {{@result.snippet.description}}
  </p>
</a>
