<div>
  <img src={{logo.logoUrl}} style="width: 30px; height: 30px; background-color: #{{logo.color}};" />
  <a href={{@model.url}}>
    {{@model.snippet.title}}
  </a>
  <br/>
  {{@model.snippet.description}}
</div>
