<a href={{@url}} class="result {{classNames}}">
  <img src={{logo.logoUrl}} class="logo" style="background-color: #{{logo.color}};" />
  <p>
    {{#if @title}}
      {{@title}} -&nbsp;
    {{/if}}<span class="url">{{@url}}</span>
    <br/>
    {{@description}}
  </p>
</a>
